.centered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-ct > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-ct > form > *:not(button) {
  margin: 10px;
  width: 100%;
}

.login-btn {
  width: 100px;
}
